* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

body {
    font-family: "Baloo Chettan 2", Helvetica, Arial, sans-serif, "Alibaba PuHuiTi";
    display: flex;
    height: 100vh;
    min-width: 1200px; /* 设置最小宽度为1200px */
}

.right-container {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-image: url('/assets/file/bg-img.png'); /* 背景图片路径 */
}

.container {
    position: fixed;
    top: 25vh; /* 调整为视口高度的50%，意味着顶部距离视口顶部的距离为视口高度的一半 */
    right: 20vw; /* 调整为视口宽度的50%，意味着右侧距离视口右侧的距离为视口宽度的一半 */
    transform: translate(25%, -20%); /* 使用transform来精确调整.container的中心位置 */
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 72px 56px;
}

.web3-id-label {
    width: 448px;
    background-color: #ffffff;
    border: 1px dashed #271D1E;
    padding: 18px 0; /* 添加一些内边距，使内容不紧贴边框 */
    display: inline-block; /* 使背景色和边框只包裹内容 */
    word-wrap: break-word; /* 在超出宽度时自动换行 */
    margin: 16px 0;
    border-radius: 12px;
}

.web3-id-label span {
    font-size: 18px;
    margin: 0 16px;
}

.web3-idTips {
    display: block;
    color: #898989;
    font-size: 16px !important;
}

.metamask-button,
.sign-in-button {
    border-radius: 12px;
    width: 448px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #1B1B1D;
    border: none;
    margin-bottom: 16px;
    font-family: "Baloo Chettan 2", "Alibaba PuHuiTi", Helvetica, Arial, sans-serif;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.binding-section p {
    width: 448px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #7E7F82;
    margin-top: 32px;
}

.services {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-around;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #1B1B1D;
}

.service img {
    width: 46px;
    height: 46px;
    margin: 0 8px;

}

.services .service span {
    text-align: center;
    font-size: 14px;
}

.logo-container.active {
    display: flex;
}

.logo-container {
    display: none;
    position: relative;
}

.connected-icon {
    position: absolute;
    bottom: 0; /* 根据需要调整位置 */
    left: 4px; /* 根据需要调整位置 */
    width: 20px; /* 小图标大小 */
    height: 20px; /* 小图标大小 */
    background-color: #76A8F1; /* 小图标颜色，这里是绿色 */
    border-radius: 50%; /* 圆形图标 */
    background-image: url('/assets/file/connected.png'); /* 背景图片路径 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.web2-binding,
.web3-binding,
.blockchain-binding {
    width: 448px;
    height: 76px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 12px;
    margin: 8px 0;
    padding: 0 8px;
}

.service-nostr,
.service-LensProtocol,
.service-avatars {
    transition: box-shadow 0.3s ease; /* 添加过渡效果使阴影变化更平滑 */
    border-radius: 50%;
}

ul {
    list-style: none;
}

.styles_apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-gap: 1.2rem 1.2rem;
    gap: 1.2rem 1.2rem;
    padding: 1.5rem;
    background-color: white;
    width: 100%;
    max-width: 312px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 8px 28px;
    z-index: 10;
}

.styles_apps li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.styles-nostr {
    display: none;
    position: absolute;
    bottom: -12px;
    right: 0;

}

.styles-avatars {
    display: none;
    position: absolute;
    bottom: -12px;
    right: -137px;
}

.styles-LensProtocol {
    display: none;
    position: absolute;
    bottom: -12px;
    right: -67px;

}

.service-nostr :hover .styles-nostr {
    display: block;
    cursor: pointer;
}

.service-nostr :hover .styles-LensProtocol {
    display: block;
    cursor: pointer;
}

.service-nostr :hover .styles-avatars {
    display: block;
    cursor: pointer;
}

.NinjaBack {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.NinjaBack a {
    font-weight: 500;
    color: #141415;
}

.NinjaBack a:hover {
    color: #4EA0F2;
}

.NinjaBack img {
    margin: 0 2px 0 8px;
    height: 20px;
    width: 20px;
}

/* 推荐码弹框样式 */
.referral-code-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.referral-code-bgd {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 8px 32px 24px;
    border-radius: 24px;
}

.referral-code-content {
    margin: 10px 0;
}


.tweet-post-close-btn {
    display: block;
    font-size: 24px; /* 字体大小 */
    line-height: 24px; /* 行高 */
    cursor: pointer; /* 鼠标样式 */
    color: #a7aaac; /* 颜色 */
    margin-bottom: 16px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    text-align: center;
}

.tweet-post-close-btn:hover {
    background-color: rgba(211, 212, 213, 0.25); /* 悬停时颜色 */
}

.referral-code-content h2 {
    margin: 0;
    color: #333; /* 标题颜色 */
}

.referralTiptext {
    padding: 6px 12px;
    font-size: 14px;
    color: #4EA0F2; /* 提示文字颜色 */
    background-color: rgba(78, 160, 242, 0.1);
    margin-left: 6px;
    border-radius: 6px;
}

.referral-code-content input[type="text"] {
    width: 370px;
    padding: 12px;
    margin-top: 10px;
    box-sizing: border-box; /* 输入框内填充不增加宽度 */
    border: 1px solid #d3d5d6;
    background-color: rgba(228, 228, 223, 0.5);
    border-radius: 12px;
    outline: none; /* 移除焦点时的默认轮廓 */
    font-size: 14px;
}

.referral-code-content input[type="text"]:focus {
    border-color: #4EA0F2; /* 聚焦时边框颜色为蓝色 */
}

.confirm-btn {
    display: block;
    margin: auto;
    padding: 11px 62px;
    border-radius: 12px;
    font-size: 14px;
    border: none;
    background-color: #4EA0F2;
    color: #ffffff;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #5191fd; /* 鼠标悬停时改变按钮颜色 */
}
